extends base

block content
    div.options__container
        form.forgot-password
            div.password__card
                h2.options__title Przypomnienie hasła
                form.user-password
                    div
                        label(for='email')
                        input#email.input__form(type='email', placeholder='Podaj adres e-mail')
                    div.buttons__container
                        button.button--main.button--main-small.btn-update Wyślij