extends base

block content
    div.options__container
        form.new-password
            div.password__card
                h2.options__title Zmiana hasła
                form.user-password
                    div
                        label(for='password')
                        input.input__form#password(type='password' placeholder="Nowe Hasło")
                    div
                        label(for='passwordConfirm') 
                        input.input__form#passwordConfirm(type='password' placeholder="Potwierdź hasło")
                    div.buttons__container
                        button.button--main.button--main-small.btn-update Zmień hasło